.services-outerbox{
}

.service-card{
display: flex;
width: 90%;
margin: auto;
/* border: 1px solid blue; */
/* padding-top: 120px; */
justify-content: space-between;
box-sizing: border-box;
}



.left-imgbox{
    width: 45%;
    border: 1px solid red;
    padding: 10px;
  box-sizing: border-box;
}


.right-box{
width: 55%;
border: 1px solid rgb(34, 206, 0);
text-align: center;
}