.slider{
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
width: 100%;

}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*7));
    }
}
.slider .slider-track{
    animation: scroll 28s linear infinite;
    display: flex; 
    gap: 15px;
    width: calc(400px*14);
}
.slide{
    /* border: 1px solid red; */
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.slide>img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.slide>p{
  font-size: 18px;
  padding-top: 15px;
  
}
.slider .slide{
    height: 120px;
    width: 100%;
}