.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}




.scroll-btn{
font-size: 1.5rem;
width: 3rem;
height: 3rem;
color: #fff;
background-color: tomato;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 50%;
position: fixed;
bottom: 5rem;
right: 3rem;
z-index: 969;
display: flex;
justify-content: center;
align-items: center;
}

.scroll-btn:hover::after{
    content: "Back To Top";
    font-size: 12px;
    width: 220%;
    left: 1%;
    bottom: -25px;
    position: absolute;
}
.top-scroll{
    
    animation: movtotop 0.8s linear infinite alternate-reverse;
}
@keyframes movtotop{
    0%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(0.1rem);
    }
}


@media (300px <= width <=600px){

    .scroll-btn{
        font-size: 1rem;
width: 3rem;
height: 3rem;
        bottom: 2rem;
        right: 2rem;
        }
        .scroll-btn:hover::after{
            content: "Back To Top";
            font-size: 16px;
            width: 220%;
            left: 1%;
            bottom: -1px;
            position: absolute;
        }
}