button{
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    width: auto;
    background-color: transparent;
    border: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
background: var(--primary-color);
color: white;
}

.loader{
    /* display: flex; */
    width: 100%;
    padding-top: 50%;
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */

}
