.scrolldown{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0px;
    left: 51.5%;
    width: 30px ;
    height: 30px;
    top: 540px;
    cursor: pointer;
    /* background: #fff; */
    transform: translateY(-80px) translateX(50%) rotate(45deg);
}
.scrolldown>span{
    position: absolute;
    top: 20;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid tomato;
    border-right: 2px solid tomato;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.scrolldown>span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}
.scrolldown>span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
}
.scrolldown>span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: 0s;
}
@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
     
    }
25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    100%,50%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

@media (250px <= width <=600px){

    .scrolldown{
        position: absolute;
        left:42%;
        width: 20px ;
        height: 20px;
        top: 600px;
    }
}