#services {
  width: 100%;
}

/* .service-box1 {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  row-gap: 2%;
  margin: auto;
} */
/* .service-card1 {
  border: 1px solid black;
  width: 20%;
  margin: auto;
  cursor: pointer;
} */

.service-img-div {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 1;
  /* border: 1px solid red; */
  /* border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem; */
  border-radius: 1.5rem;;
}

.on-img-div {
  position: absolute;
  top: 40%;
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  left:35%;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--prewhite);
}
.service-img-div > img {
  width: 100%;
  display: block;
  height: 100%;
  transition: transform 1s;
  position: relative;
  filter: contrast(70%) brightness(50%);
}

.service-img-div:hover img {
  transform: scale(1.1);
}

.service-infobox {
  width: 100%;
  height: auto;
}
