.backgraundimg{
    background-image: url(backgraund.jpg);
    width: 100%;
    height: 40vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
filter: brightness(1);
z-index: 1;
}
.backgraundimg::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0,0.65);
    }

    @media (250px<= width <=768px){

        .backgraundimg{
            height: 20vh;
        }
    }