#servicelist{
}
#listblock{
   display: none;
}
#servicelist:hover>#listblock{
color: pink;
display: block;
z-index: 999;
}


.lists{
    border-top: 1px solid black;
    color: rgb(223, 223, 223);
background: rgb(49, 47, 47);
padding: 5px 15px 5px 15px;
margin-top: 5px;
border-radius: 10px;
box-sizing: border-box;
}

.lists:hover{
    background-color: black;
}
.logo{
    /* border: 1px solid red; */
    padding: 0.75rem;
    border-radius: 20%;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: textani 2s linear forwards;
}

@keyframes textani{
    0%{
opacity: 0;
transform: rotateY(180deg);
filter: blur(1px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
        animation-delay: 1s;
    }
}