.iconbox{
    position: fixed;
bottom:5rem;
left:3rem;

}
.whatsappimg{
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (300px <= width <=600px){

    .iconbox{
        position: fixed;
    bottom:2rem;
    left:2rem;
    }
    .whatsappimg{
        width: 50px;
        cursor: pointer;
    }
}